.divStyle {
  /* background-color: white; */
  /* color: black;
  text-align: center;
  box-shadow: 1px 1px 2px 1px; */
  flex:0.9;
  /* margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: 'Myriad Pro','Helvetica Neue', Helvetica; */
  display: flex;
  flex-direction: column;
}

.divStyle div {
  flex: 1;
}

.larger-group {
  flex:1;
  background-color: #0074D9;
  box-shadow: 1px 1px 2px 1px;
  margin: 10px;
  height: 320px;
  border-radius: 20px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.treat-title {
  flex: 0.1;
  font-family: 'Myriad Pro','Helvetica Neue', Helvetica;
  font-size: 23px;
  text-shadow: 0px 1px 2px rgba(255,255,255,.5);
}

.treatment-group {
  flex: 1;
  background-color: #7FDBFF;
  margin: 10px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 1px 1px 2px 1px;
  display: flex;
  flex-direction: column;
}
