body {
  font-family: 'Myriad Pro', 'Helvetica Neue', Helvetica;
  margin: 0;
  background-color: black;
}

input {
  display: inline;
}

h1 {
  font-size: 40px;
  color: #7FDBFF;
  padding-top: 20px;
}

.page-box {
  height: 100%;
  align-items: center;
  text-align: center;
  color: white;
}

#sex-option {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
  width: 240px;
  /* padding-right: 75px; */
}

.form-box {
  border: 1px solid white;
  background-color: #0074D9;
  box-shadow: 1px 1px 2px 1px;
  width: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.submit-button {
  background-color: #0074D9;
}

.form-style-3 {
  width: 90%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 20px;
  margin-top: 30px
}

.form-style-3 label {
  display: block;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  color: black
}

.form-style-3 label>span {
  float: left;
  width: 140px;
  color: #0074D9;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 1px #fff;
}

.form-style-3 fieldset {
  text-align: right;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #0074D9;
  padding: 20px;
  background: #7FDBFF;
  box-shadow: inset 0px 0px 15px #FFE5E5;
  -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
  -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
  align-items: center;
  display: flex;
  flex-direction: center;
}

.form-style-3 fieldset legend {
  color: #0074D9;
  border-top: 1px solid #FFD2D2;
  border-left: 1px solid #FFD2D2;
  border-right: 1px solid #FFD2D2;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #FFF4F4;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #F1F1F1;
  -moz-box-shadow: -0px -1px 2px #F1F1F1;
  -webkit-box-shadow: -0px -1px 2px #F1F1F1;
  font-weight: normal;
  font-size: 12px;
}

/*
.form-style-3 textarea {
  width: 250px;
  height: 100px;
} */

/* .form-style-3 input[type=text], .form-style-3 input[type=date], .form-style-3 input[type=datetime], .form-style-3 input[type=number], .form-style-3 input[type=search], .form-style-3 input[type=time], .form-style-3 input[type=url], .form-style-3 input[type=email], .form-style-3 select, .form-style-3 textarea {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #FFC2DC;
  outline: none;
  color: #F072A9;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #FFD5E7;
  -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
  -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
  background: #FFEFF6;
  width: 50%;
} */

.form-style-3 input[type=radio] {
  width: auto;
}

.form-style-3 input[type=submit], .form-style-3 input[type=button] {
  background: #EB3B88;
  padding: 5px 15px 5px 15px;
  color: #FFCBE2;
  box-shadow: inset -1px -1px 3px #FF62A7;
  -moz-box-shadow: inset -1px -1px 3px #FF62A7;
  -webkit-box-shadow: inset -1px -1px 3px #FF62A7;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
}

.required {
  color: red;
  font-weight: normal;
}

/* ************** OLD CSS ************* */

/* .add-body{
  background: black;
  margin: 0 0;
  padding:10px;
  text-align:center;
  height: 100%
}


.add-animal-form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 50%;
}
.message-text {
  color: white;
}

.add-title{
  font-family: 'Myriad Pro','Helvetica Neue', Helvetica;
  font-weight:bold;
  font-size: 40px;
  text-shadow: 0px 1px 2px rgba(255,255,255,.5);
  color: #0074D9;
  text-align:center;

}

label {
  color: white;
  font-family: 'Myriad Pro','Helvetica Neue', Helvetica;
  font-weight:bold;
  font-size: 20px;
}

.add-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.add-inputs {
  display: block;
  font-size: 14px;
  width:240px;
  float: right;
  margin: 0;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0,0,0, .55), 0px 1px 1px rgba(255,255,255,.5);
  border: 1px solid #666;
}
*/

.add-button {
  font-family: 'Myriad Pro', 'Helvetica Neue', Helvetica;
  opacity: .99;
  width: 200px;
  height: 50px;
  background: #7fdbff;
  border: 1px solid #0a5378;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px
}

.link-tag {
  opacity: .99;
  background: #0074D9;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, .35), 0px 1px 6px rgba(0, 246, 255, .5);
  border: 1px solid #0a5378;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
  position: absolute;
  top: 50px;
  left: 40px;
  text-align: center;
  /* font-size: 50px; */
  text-decoration: none;
  font-family: 'Myriad Pro', 'Helvetica Neue', Helvetica;
  width: 150px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
}